.cabecalho
{   
    background-color: #FFF;      
}

.cabecalho--inicial
{    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px; 
    padding:5px 20px;  
    position:absolute;
    right:0;
    top:40%;
    width: calc(460px - 40px);
   
}

@media screen and (min-width: 0)
{
    .cabecalho
    {
        padding: 5px 10px;
        width: calc(100% - 20px);
    }   
}

@media screen and (min-width: 480px)
{
    .cabecalho
    {
        padding: 5px 30px;
        width: calc(100% - 60px);
    }   
}

@media screen and (min-width: 960px)
{
    .cabecalho
    {
        width: calc(100% - 60px);
        padding: 5px 0 0 60px ;
    }    
}