.historia-card__imagem
{   
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    border: 2px solid black;
    border-radius: 5px;    
    width: 100%;
}

.historia-card__imagem:hover ~ .historia-card__titulo /*quando o mouse passar por cima da imagem o título aparece*/
{
    display:block;
}

