.menu__imagem
{
    display: inline-block;    
    position:absolute;   
}

@media screen and (min-width: 0px)
{
    .menu__imagem
    {
        height: 14px;
        top:8px;
        left:8px;
    }
}

@media screen and (min-width: 480px)
{
    .menu__imagem
    {
        height: 27px;
        top:15px;
        left:15px;
    }
}

@media screen and (min-width: 960px)
{
    .menu__imagem
    {
        height: 54px;
        top:30px;
        left:30px;
    }
}